# Apptique Frontend - Service
apiVersion: v1
kind: Service
metadata:
  name: frontend
  labels:
    app: apptique
    component: frontend
spec:
  type: ClusterIP
  selector:
    app: apptique
    component: frontend
  ports:
    - name: http
      port: 80
      targetPort: 8080
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: frontend
  labels:
    app: apptique
    component: frontend
