apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: apptique-dev

resources:
  - ../../base
  - namespace.yaml

labels:
  - pairs:
      environment: dev

patches:
  - target:
      kind: Deployment
      name: frontend
    patch: |
      - op: replace
        path: /spec/replicas
        value: 1
      - op: add
        path: /spec/template/spec/containers/0/env/-
        value:
          name: ENV_PLATFORM
          value: "dev"
