apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: apptique-west
  labels:
    app.kubernetes.io/name: frontend
    app.kubernetes.io/part-of: apptique
    # Flux ownership labels
    kustomize.toolkit.fluxcd.io/name: apptique-west
    kustomize.toolkit.fluxcd.io/namespace: flux-system
spec:
  replicas: 2
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
        - name: frontend
          # Healthy: nginx works
          image: nginx:alpine
          ports:
            - containerPort: 80
          resources:
            requests:
              cpu: "50m"
              memory: "64Mi"
            limits:
              cpu: "100m"
              memory: "128Mi"
          readinessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 5
            periodSeconds: 5
